
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    min-height: 100vh;
}

header {
    background-color: rgb(238, 234, 245);
    margin: auto;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    align-items: center;
}

.header h4 {
    font-size: 20px;
    font-family: "Vollkorn", sans-serif;
    font-weight: bold;
    text-shadow: 2px 1px 0px rgba(152, 129, 192, 0.5) ;
}

.ul {
    display: flex;
    flex-direction: row;
    gap:60px;
    list-style: none;
}

.ul li {
    overflow: hidden;
}

a {
   text-decoration: none;
   transition: 0.5s;
}

a:link {
   color: rgb(245, 41, 136);
}

a:visited {
   color: rgb(128, 26, 26);
}

a:hover {
   color: rgb(216, 24, 174);
}

a:active {
   color: rgb(247, 188, 188);
    transform: scale(0.95);/*le lien rétrécit légèrement au clic*/
   display: inline-block;/*Nécessaire pour que transform fonctionne*/
}

.container {
    display: flex;
    margin: 20px;
    max-width: 100%;
    padding: 12px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.imagesContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 6px 10px;
    border-radius:5%;
    border: 2px solid rgb(243, 240, 226);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px hsla(49, 41%, 79%, 0.5);
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 520px;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
    overflow: hidden;
    
}

.imagesContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
   
}


.imagesContainer img {
    width: 100%;
    /*max-width: 350px;*/
    height: 250px;
    object-fit: cover;
    margin-top: 0;
}


.imagesContainer h1  {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}  

.imagesContainer p {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.4;
    font-size: 0.9rem;
}

.imagesContainer h2 {
    color: rgb(245, 41, 136);
    margin-top: auto;
}


/* Responsive pour un écran plus petit que 768px*/

@media screen and (max-width: 768px) {
    
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* On ajuste la largeur des cartes pour qu'elles prennent plus de place */
    .imagesContainer, .imagesContainer img {
        width: 90%; 
        margin-bottom: 20px;
    }
    
    
    .imagesContainer h1, .imagesContainer p {
        font-size: 1.5rem;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}
